
          <div class="contentBox">

               <div class="homeCard">
                    <div class="titleandBtns">
                         <div class="title">
                              <i class="fa fa-home fa-2x" aria-hidden="true" style="margin: 5px;"></i>
                              <h2>Home</h2>
                         </div>
                         <div class="btns">
                              <button class="edit ">Edit</button>
                              <button class="delete ">Delete</button>
                         </div>

                    </div>
                    <div class="homeContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam officia
                         ratione adipisci eum
                         nobis aliquam dignissimos neque, amet odit omnis? Obcaecati aspernatur quasi asperiores culpa
                         illum quas quae. Illum illo similique omnis vel earum officia aspernatur et. Mollitia facere
                         error quidem voluptate aut expedita consequatur maiores. Impedit architecto inventore sequi,
                         velit aliquam ut ab dolor voluptates. Fugiat dolores pariatur earum. Lorem ipsum dolor sit amet
                         consectetur adipisicing elit. Eveniet, repellat. Repudiandae expedita
                         architecto maxime assumenda fugiat esse recusandae? Ullam autem libero, necessitatibus
                         perferendis, illum iste eligendi consectetur doloribus modi nisi repellendus labore, ut iusto
                         obcaecati pariatur eum debitis impedit quas?
                    </div>
               </div>

               <div class="postsCards">
                    <div class="posts" data-tilt>
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-1</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>

                    <div class="posts" data-tilt>
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-2</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>


                    <div class="posts" data-tilt>
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-3</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>


                    <div class="posts" data-tilt>
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-4</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>


                    <div class="posts" data-tilt>
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-5</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>


                    <div class="posts" data-tilt>
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-6</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>


                    <div class="posts" data-tilt >
                         <div class="postTitle">
                              <i class="fa fa-calendar-check fa-2x" aria-hidden="true" style="margin-right: 10px;margin-bottom: 10px;"></i>                              
                              <p>Day-7</p>
                         </div>
                         <div class="postContent">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, assumenda.
                         </div>
                         <div class="btns1">
                              <button class="edit1 ">Edit</button>
                              <button class="delete1 ">Delete</button>
                         </div>
                    </div>

               

               </div>
          </div>
