
          <div class="footer">
               <div class="bookmarks">
                    <div class="bookitem">
                         <img src="/images/Bookmark.png" alt="">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing a?</p>
                    </div>
                    <div class="bookitem">
                         <img src="/images/Bookmark-1.png" alt="">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing a?</p>
                    </div>
                    <div class="bookitem">
                         <img src="/images/Connect.png" alt="">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing a?</p>
                    </div>
               </div>

               <div class="socialMedia">
                    <div class="fac"><img src="/images/Facebook.png" alt=""></div>
                    <div class="fac"><img src="/images/Instagram.png" alt=""></div>
                    <div class="fac"><img src="/images/YouTube Play Button.png" alt=""></div>
                    <div class="fac"><img src="/images/Twitter.png" alt=""></div>
               </div>

               <div class="copyright"><img src="/images/Copyright.png" alt="">
                    <p>Copyright by pokhrels Company LTD</p>
               </div>
          </div>





<script src="/js/vanilla-tilt.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelector(".homeCard"), {
		max: 3,
		speed: 400
	});
	
	//It also supports NodeList
	VanillaTilt.init(document.querySelectorAll(".homeCard"));
</script>


</body>

</html>