<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- BootStrap CDN -->
     <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->



     <!-- Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Red+Hat+Text:wght@400;500;700&family=Righteous&display=swap"
          rel="stylesheet">

     <!-- Fontawesome Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


     <!-- stylesheet -->
     <link rel="stylesheet" href="/css/style.css">


     <title> Coders Blog</title>
     <link rel="icon" href="/images/titleLogo.png" type="image">


</head>

<body>

     <div class="navbar">
          <div class="brandLogo">Coders<br>Blog</div>
          <div class="mainLogo"><img src="/images/Laptop Coding.png" alt=""></div>
          <input type="checkbox" name="" id="click">
          <label for="click" class="toggle">
               <i class="fa fa-bars" aria-hidden="true"></i>
          </label>
         

          <div class="navigationBar">
               <div class="linkItem">
                    <i class="fa fa-home " aria-hidden="true" style="color: white; margin: 5px;"></i>
                    <a href="/">HOME</a>
               </div>

               <div class="linkItem">
                    <i class="fa fa-plus " aria-hidden="true" style="color: white; margin: 5px;"></i>
                    <a href="/addpost">ADD POST</a>
               </div>

               <div class="linkItem">
                    <i class="fa fa-address-book " aria-hidden="true" style="color: white; margin: 5px;"></i>
                    <a href="/contact">CONTACT US</a>
               </div>

               <div class="linkItem">
                    <i class="fa fa-question-circle " aria-hidden="true" style="color: white; margin: 5px;"></i>
                    <a href="/about">ABOUT US</a>
               </div>

          </div>
     </div>





    

