<%- include("partials/header") %>



      <!-- COntents -->
      <div class="contentBox">

          <div class="homeCard">
               <div class="titleandBtns">
                    <div class="title">
                         <i class="fa fa-book fa-3x " aria-hidden="true" style="color: black; margin: 15px;"></i>
                         <h2><%= post.title %></h2>
                    </div>
                    <div class="btns">
                         <button class="edit">Edit</button>
                         <button class="delete">Delete</button>
                    </div>
                    
     
               </div>
               <div class="homeContent">
                    <p><%= post.content %></p>
               </div>
          </div>


</div>



<%- include("partials/footer") %>